body {
    background-color: #ADD8E6; //Color de fons
    font-family: Verdana; //Font
}

input[type="text"],
input[type="email"] {
    width: 300px; <!-Amplada de les entrades de text i correu electrònic->
}

input[type="number"] {
    width: 100px; <!-Amplada de la entrada numèrica->
}


input[type="submit"] {
    width: 150px; <!-Mida del botó->
    background-color: #3498db; <!-Color de fons->
    color: #90EE90; <!-Color del text del botó->
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; <!-Efecte al passar el ratolí->
}
